@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    html {
        font-family: 'Montserrat', sans-serif;
    }

    a {
        @apply underline underline-offset-2 text-[#003459]
    }

    .footer__grid {
        grid-template-columns: repeat(auto-fit,minmax(100px,1fr));
    }
  
  }

  @layer components {
    .accordion_content {
        @apply max-h-0 overflow-hidden transition-all pointer-events-none;
     }
     .is-open .accordion_content {
         @apply opacity-100  grid grid-cols-1 lg:grid-cols-2  h-full;
     }
    .button {
        @apply bg-secondary text-white text-base py-[14px] px-10 block text-center rounded-2xl w-full;
    }
    .button-sm {
        @apply bg-secondary text-white text-base py-[12px] px-9 inline-block w-auto text-center rounded-2xl;
    }
    .main-title {
        @apply text-2.5xl py-7 font-medium md:text-[44px] lg:py-10;
    }

    .bslider-active-bullet {
        @apply !w-[20px] !bg-[#003459];
    }
    .bslider-bullet {
        @apply w-[8px] h-[8px] rounded-lg transition-all duration-300 bg-secondary;
    }
   
  }


@layer utilities {
    .accordion_control{
        @apply cursor-pointer;
    }
    
    .bg-blue-gradient {
        background: linear-gradient(90deg, #82CCE5 0%, rgba(130, 204, 229, 0.46) 100%, #D6F2FB 100%);
    }
}
